{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>iBox Data Manager</title>

  {% bootstrap_css %} {% bootstrap_javascript %}
  <style type="text/css">
    .left {
      width: 50px;
      height: 30px;
      float: left;
    }

    .center {
      width: 50px;
      height: 30px;
      float: right;
    }

    .right {
      width: 50px;
      height: 30px;
      float: right;
    }
  </style>
  <style>
    table.lamp {
      width: 100%;
      border: 1px solid #d4d4d4;
    }

    table.lamp th,
    td {
      padding: 10px;
    }

    table.lamp td {
      width: 40px;
    }
  </style>
</head>

<body>
  <!--Static navbar-->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">iBox Data Manager</p>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="admin/" class="navbar-brand">Admin</a>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <form class="form-inline" role="form" method="POST" action="{% url 'main:display_msg' %}">
          <div class="form-group">
            <label class="sr-only" for="name">search</label>
            <input type="text" class="form-control" id="search" placeholder="device sn"> {% csrf_token %} {{ form.as_p }}
            <button type="button" class="btn btn-info" name="submit">search</button>
          </div>
        </form>
      </div>
      <div class="col-md-1 col-md-offset-2">
        <form method="POST" action="{% url 'main:publish_rtc' %}">
          {% csrf_token %} {{ form.as_p }}
          <button type="button" class="btn btn-primary" name="submit">Send RTC</button>
        </form>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <form class="form-inline" role="form" method="POST" action="{% url 'main:publish_dac' %}">
          <div class="form-group">
            <label class="sr-only" for="name">dac</label>
            <input type="text" class="form-control" id="dac" placeholder="dac value">
            <button type="button" class="btn btn-primary" name="submit">Set DAC</button>
            {% csrf_token %} {{ form.as_p }}
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
  </div>

</body>

</html>